@import "variables.less";
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//导航
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: @nav_padding;
  z-index: 8;
  box-sizing: border-box;
  width: @nav_width - 2*@nav_padding;
  height: 100%;
  color: @nav_color;
  background-color: @nav_bg_color;
  .border-right;
  // 导航-头部-个人信息
  div#nav-head{
    width: 100%;
    height: 250px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    // 导航-头部-个人信息-头像
    div#my-avatar{
      text-align: center;
      padding: 20px auto 0 auto;
      img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid rgba(255,255,255,0.5);

        transition: transform 0.5s;
        -moz-transition: transform 0.5s; /* Firefox 4 */
        -webkit-transition: transform 0.5s; /* Safari 和 Chrome */
        -o-transition: transform 0.5s; /* Opera */
        &:hover{
          cursor: pointer;
          transform: rotate(360deg);
          -ms-transform: rotate(360deg);		/* IE 9 */
          -webkit-transform: rotate(360deg);	/* Safari and Chrome */
          -o-transform: rotate(360deg);		/* Opera */
          -moz-transform: rotate(360deg);		/* Firefox */
        }
      }
      p{
        margin: 5px;
        font-size: 6px;
        span{
          font-size: 18px;
          color: rgb(200, 200, 200);
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
    // 导航-头部-个人信息-连接
    div#my-info{
      margin-top: 10px;
      ul{
        margin: 0;
        padding: 0;
        text-align: center;
        li{
          float: left;
          text-align: center;
          margin: auto 8px;
          display: inline;
          span{
            display: block;
            width: 50px;
            font-size: 5px;
          }
          a{
            color: rgba(221, 190, 236, 0.5);
            &:hover{
              color: rgba(221, 190, 236, 0.9);
              transition: color 0.3s;
              -moz-transition: color 0.3s; /* Firefox 4 */
              -webkit-transition: color 0.3s; /* Safari 和 Chrome */
              -o-transition: color 0.3s; /* Opera */
            }
            i{
              font-size: 22px;
            }
          }
        }
      }
    }
  }
  // 导航-体部-目录
  div#nav-body>ul{
    margin: 10px 0;
    padding: 0;
    li.level1{
      list-style-type: none;
      box-sizing: border-box;
      margin-top: 10px;
      text-align: center;
      padding: 6px;
      border-bottom: 1px solid rgba(0,0,0,0.5);
      letter-spacing: 7px;
      color: #505050;
      font-size: 18px;
      font-weight: 600;
      cursor: default;
    }
    li.level2{
      list-style-type: none;
      box-sizing: border-box;
      padding: 6px 0;
      margin: 0;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      border-left: 6px solid @nav_bg_color;
      font-size: 16px;
      color: darken(@nav_color,20%);
      &:hover{
        background-color: @article_bg_color;
        border-left: 6px solid rgb(80,80,150);
        color: #fff;
        cursor: pointer;
        transition: background 0.3s, color 0.3s;
        -moz-transition: background 0.3s, color 0.3s; /* Firefox 4 */
        -webkit-transition: background 0.3s, color 0.3s; /* Safari 和 Chrome */
        -o-transition: background 0.3s, color 0.3s; /* Opera */
      }
      &.active{
        background-color: @article_bg_color;
        margin-right: -1px;
        border-left: 6px solid rgb(80,80,150);
        border-right: 1px solid @article_bg_color;
        color: #fff;
      }
      span{
        width: 30px;
        display: block;
        float: left;
        text-align: center;
        font-size: 18px;
        color: darken(@nav_color,40%);;
      }
    }
  }
  // 导航-尾部-管理
  div#console{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,0.5);
    text-align: center;
    span{
      cursor: pointer;
      margin: 0 20px;
      color: darken(@nav_color,40%);
      &:hover{
        color: @nav_color;
      }
    }
  }
}
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//内容
article {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  padding-top: @article_padding;
  padding-bottom: @article_padding;
  padding-left: @nav_width;
  padding-right: @aside_width;
  width: 100%;
  height: 100%;
  color: @article_color;
  background-color: @article_bg_color;
  div{
    padding: 10px;
  }
}
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//右侧边
aside {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8;
  padding: @aside_padding;
  width: @aside_width - @aside_padding;
  height: 100%;
  color: @aside_color;
  background-color: @aside_bg_color;
  .border-left;
}
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//自定义类
.rounded-corners(@radius:1px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 3px rgba(50,50,100,0.3);
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 3px rgba(50,50,100,0.3);
}
