@import "variables.less";
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//导航
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: @nav_padding;
  z-index: 8;
  box-sizing: border-box;
  width: @nav_width - 2*@nav_padding;
  height: 100%;
  color: @nav_color;
  background-color: @nav_bg_color;
  .border-right;
  h3{
    text-align: center;
    margin: 15px auto;
  }
  ul{
    margin: auto 0;
    padding: 0;
    li{
      list-style-type: none;
      padding: 0;
      margin-top: 3px;
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid rgba(0,0,0,0.5);
      &:hover,&.active{
        // background-color: rgba(29, 30, 37,0.6);
        border: 1px solid rgba(50,50,100,0.5);
        color: #fff;
        cursor: pointer;
      }
      //项目
      div{
        padding: 7px;
        //项目字体
        span{
          display: block;
          padding: 5px;
          color: #aaf;
          font-size: 16px;
          font-weight: bolder;
        }
        //子项目字体
        ul li span{
          color: #aaa;
          font-weight: 400;
          //子项目激活样式
          &.active{
            color: #fff;
            background: #112;
          }
        }
      }
    }
  }
}
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//内容
article {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  padding-top: @article_padding;
  padding-bottom: @article_padding;
  padding-left: @header_width + @nav_width;
  padding-right: @aside_width;
  width: 100%;
  height: 100%;
  color: @article_color;
  background-color: @article_bg_color;
  div{
    padding: 10px;
  }
}
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//右侧边
aside {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8;
  padding: @aside_padding;
  width: @aside_width - @aside_padding;
  height: 100%;
  color: @aside_color;
  background-color: @aside_bg_color;
  .border-left;
}
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//自定义类
.rounded-corners(@radius:1px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 3px rgba(50,50,100,0.3);
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 3px rgba(50,50,100,0.3);
}
