//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// nav 左侧导航
@nav_width: 200px;
@nav_padding: 0;
@nav_color: #eee;
@nav_bg_color: #1e2025;
@nav_item_bg_color: darken(@nav_bg_color,10%);

//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// article 内容
@article_padding: 0;
@article_width: 100%;
@article_color: #aaa;
@article_bg_color: #363840;
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// aside 右侧边
@aside_padding: 10px;
@aside_width: 200px;
@aside_color: @nav_color;
@aside_bg_color: @nav_bg_color;
