// header
@header_width: 60px;
@header_color: #eee;
@header_bg_color: #363840;

// nav
@nav_padding: 10px;
@nav_width: 250px;
@nav_color: #808080;
@nav_bg_color: darken(@header_bg_color, 10%);

// article
@article_padding: 0;
@article_width: 100%;
@article_color: #aaa;
@article_bg_color: #1e2025;

// aside
@aside_padding: 10px;
@aside_width: 200px;
@aside_color: @nav_color;
@aside_bg_color: @nav_bg_color;
