<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="max-age=604800">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>李宣</title>
    <link rel="stylesheet" href="./css/main.min.--timestamp--.css">
    <script src="//cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <script src="//cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
    <link rel="icon" href="./favicon.ico">
  </head>
  <body>
    <header>
      <ul id='header'>
        <li v-for="item in tree1" v-on:click="active_tree1(item)" v-bind:class="{ active: item.isActive }">
          {{ item.name }}
        </li>
      </ul>
    </header>
    <nav>
      <ul id='nav'>
        <li v-for="item in tree2">
          {{ item.name }}
        </li>
      </ul>
    </nav>
    <article>
      <div id="a"></div>
    </article>
    <aside>aasdf<br>aasdf<br>aasdfaasdf<br>aasdf<br>aasdf</aside>
    <script type="text/javascript" src="./js/main.min.--timestamp--.js"></script>
  </body>
</html>
